# Ocultar archivos de configuración
.github/** linguist-generated=true
.github/ISSUE_TEMPLATE/** linguist-generated=true
.github/ISSUE_TEMPLATE/bug_report.md linguist-generated=true
.github/ISSUE_TEMPLATE/feature_request.md linguist-generated=true
.github/ISSUE_TEMPLATE/config.yml linguist-generated=true

# Archivos de documentación
*.md linguist-documentation
LICENSE linguist-documentation
CONTRIBUTING.md linguist-documentation
RELEASE_NOTES.md linguist-documentation

# Detectar lenguajes correctamente
*.dart linguist-language=Dart
*.yaml linguist-language=YAML
*.yml linguist-language=YAML

# Ignorar archivos generados
build/** -linguist-documentation
.dart_tool/** -linguist-documentation
.idea/** -linguist-documentation

# Archivos binarios
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.eot binary
*.woff binary
*.pyc binary
*.pdf binary 